@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        ASP.NET MVC archive with SQL Server
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Customers", "Index", "Customers")
        </h2>
        <p>
            MVC CRUDD operations
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Products", "Index", "Products")
        </h2>
        <p>
            MVC CRUDD operations.
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            @Html.ActionLink("Payments", "Index", "Payments")
        </h2>
        <p>
            MVC CRUDD operations
        </p>
    </div>
</div>